<div class="modal-fae">
    <div class="row-12">
        <form class="animate form-user " action="/deleteCustomer/<%= customer._id %>" method="POST">
            <div class="modal-header">
                <h4 class="modal-title">Delete Employee</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete these Records?</p>
                <p class="text-warning"><small>This action cannot be undone.</small></p>
            </div>
            <div class="modal-footer">
                <button onclick="deleteAllUsers()" class="btn btn-danger" value="Delete"> Delete</button>
                <a href="/" class="btn btn-light">Cancel</a>
            </div>
        </form>
    </div>    
</div>
